# --- Python (стандартное) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- uv / Virtual Environment ---
# Саму папку с библиотеками не грузим, она создается через uv sync
.venv/
venv/
env/

# ВАЖНО: pyproject.toml и uv.lock МЫ ОСТАВЛЯЕМ, их игнорировать нельзя!

# --- VS Code и временные файлы ---
.vscode/
# Файл, который создает расширение Code Runner (мусор)
tempCodeRunnerFile.py

# --- PyInstaller (Сборка EXE) ---
# Папки, где лежит собранный мусор и сам exe (exe заливаем через Releases)
build/
dist/
# Спек-файл можно оставить, если ты хочешь сохранить настройки сборки.
# Если он тебе не нужен в репозитории, раскомментируй строку ниже:
# *.spec

# --- Картинки и скриншоты ---
# Если "Безымянный.png" это просто скриншот для себя, игнорируем его.
# Если он нужен для README, убери эту строку.
Безымянный.png

# --- Операционная система ---
.DS_Store
Thumbs.db
tempCodeRunnerFile.py